{% extends "base.html" %}

{% block site_nav %}
<div class="md-sidebar md-sidebar--primary" data-md-component="navigation">
    <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner md-typeset">
            <h1>Mémo pour télétravail (libre)</h1>
            <p>
                Quelques ressources potentiellement utiles pour télétravailler avec des logiciels et services libres de façon un peu plus zen.
            </p>
        </div>
    </div>
</div>
{% if page.toc %}
<div class="md-sidebar md-sidebar--secondary" data-md-component="toc">
    <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
            {% include "partials/toc.html" %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
